body {
    margin: 0 60px;
    background-color: #1a1a1a;
}

span, p, a, h1, h2, h3 {
    font-family: police_custom, serif;
    color: white;
}

.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar-item {
    float: left;
}

.navbar-item a {
    display: block;
    color: white;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 18px;
    transition: 500ms;
}

.navbar-item a:hover, .active {
    color: #1394C3;
    transition: 500ms;
}

#nav-right {
    float: right;
}

#top-title {
    margin: 20px 0;
    text-align: center;
}

#top-title span {
    letter-spacing: 0.3rem;
    font-size: 16px;
}

.footer-content {
    text-align: center;
    color: white;
    padding: 15px 0;
}

@font-face {
    font-family: police_custom;
    src: url("/assets/fonts/MusticaPro-SemiBold.otf") format("opentype");
}