html, body {
    height: 100%;
    margin: 0 60px;
    padding: 0;
    background-color: #1a1a1a;
}

span, p, a, h1, h2, h3 {
    font-family: police_custom, sans-serif;
    color: white;
    margin: 0;
}

.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar-item {
    float: left;
}

.navbar-item a {
    display: block;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 18px;
    transition: 500ms;
}

.navbar-item a:hover {
    color: #1394C3;
    transition: 500ms;
}

.active {
    color: #1394C3;
}

.not-active {
    color: white;
}

#nav-right {
    float: right;
}

.top-content {
    padding: 300px 0;
    margin: 10px;
    text-align: center;
}

#top-title {
    display: inline-block;
    padding: 50px;
}

#top-title span {
    letter-spacing: 0.3rem;
    font-size: 16px;
}

.footer-content {
    bottom: 0;
    position: sticky;
    text-align: center;
    color: white;
    padding: 15px 0;
}

@font-face {
    font-family: police_custom;
    src: url("../fonts/MusticaPro-SemiBold.otf") format("opentype");
}